*{
	position: relative;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
	/*outline: 1px solid #949AB1;*/
	
}
body{
	background:#EEEEEE ;
}
#flte{
	position: fixed;
	width: 220px;
	height: 100%;
	background-color: #FFFFFF  ;
	z-index: 100;
	top: 55px;
	box-shadow: 0px 0px 30px 1px  #777777;
}
#title-img img {
	width: 100px;
	height: 100px;
	overflow: hidden;
	margin: auto;
	border-radius:50% ;
	/*border:1px chocolate solid;*/
	z-index: 2;
	top:-50px ;
}
#title-img img:hover{
	-webkit-animation: name 3s ease-in-out infinite ;
	animation: name 3s ease-in-out infinite ;
	box-shadow: 0px 2px 20px #F0FFFF;
	border: #FFFFFF 1px solid;
	}
	@-webkit-keyframes name{
	
	100%{
		-webkit-transform: rotate(360deg);
	}
}
@keyframes name{
	
	100%{
		-webkit-transform: rotate(360deg);
	}
}

#kuang{
	border: 0px solid ;
	position: absolute;
	top: -5px;
	left: 15px;
	z-index: 1;
	width: 180px;
}
#title-img{
	padding: 0px 56px;
	background-color:#272822 ;
	margin-bottom: 10px;
	height: 150px;
}
#title-img span{
width: 220px;
text-align: center;
line-height: 30px;
font-family: "微软雅黑";
font-size:12px ;
color: #FFFFFF;
left: -70px;
top: -20px;
display: block;
}

#flte p{
		width: 220px;
	text-align: center;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size:12px ;
	color: #272822;
}
#flte span{

	margin-left:8px ;
}
#chang-div{
	width: 220px;
	margin-top:20px ;
	padding-top:20px ;
	opacity: 0.8;
}
#chang-div div{
	margin-top:10px ;
	border-right: 5px  solid  #272822;
	height: 42px;
	width: 215px;
	
}
#chang-div div:hover{
	transition: background-color 0.5s; 
	transition: outline 0.5s; 
	background-color: #F1F1F1 ;
	outline:1px solid lightgray;
}
#chang-div:hover{
	transition: opacity 1s; 
	opacity: 1;
}
#chang-div span{
	color:#9A8D93;
	top: -10px;
	font-size: 12px;
}
#chang-div img{
	width: 30px;
	height: 30px;
	position: relative;
	left: -175px;
	top: 13px;
	border-radius:5px ;
	margin: 3px;
}


#chang-div p{
	position: absolute;
	width: 80px;
	top: 6px;
	right: 10px;
}
#chang-div a{
	padding: 11px  180px;
	position: relative;
	top: -11px;
}
/*#chang-div:hover{
	box-shadow: -0px  -5px 10px darkgrey;
}*/
#yv-img{
width: 200px;
height: 200px;	
}

#yv-img img{
	border: 0px;
	position: absolute;
	width: 200px;
	height: 250px;
	right: -20px;
	top: -20px;
}


#center{
	position: relative;
	max-width: 1020px;
	top:50%;
	left:18%;
	/*margin-height/2 0 0 -width/2;*/
}
#center .img{
	position: relative;
width: 1020px;	
height: 600px;
}
.img:after{
	position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow:0 0 50px 30px #EEEEEE inset;

}
.img img{
	width: 1020px;	
height: 600px;

}
.img #pai{
	position: absolute;
	background-color: #8B8E8F;
	z-index: 2;
	opacity: 0.7;
	padding: 2px 20px;
	border-radius:15px ;
	top:50px;
	left: 40%;
}
.img #pai:hover{
	
	transition: color 0.5s;
	color: #FFFFFF;
}
/*#img #pai:after{
	content: "<";
	position: absolute;
	top: 0px;
	left: 5px;
}*/
#so{
	width: 500px;
	position: absolute;
	top: 400px;
	right: -10px;
	z-index: 2;
}
#so input{
	opacity: 0.6;
	background: cornflowerblue;
	font-size:15px ;
	width: 200px;
	padding: 10px ;
	border: solid 1px #FFFF;
	top: -13px;
	border-radius:3px ;
	color: #FFFFFF;
}
#so img{
	top: 1px;
	height: 38px;
	width: 150px;
	border-radius:5px ;
}

#center #submit{
width: 50px;
height: 40px;
background-color: darkorange;
opacity: 2;
border:1px solid #FF8C00 ;
top: -10px;
}
#submit{
	font-weight:900 ;
	
}
#da-div{
	position: absolute;
	width: 1000px;
	background-color: #FFFFFF;
	height: 120px;
	border-radius:10px ;
	opacity: 0.7;
	top: 480px;
	left: 10px;
}

#da-bao #da-tu{
	width: 100px;
	height: 100px;
		float: left;
}
#da-tu{
padding: 10px 0px ;
}
#da-bao img{
	width: 60px;
	height: 50px;
	border-radius:8px ;	
}

#da-bao span{
	display: block;
	font-size:12px ;
	color: #272822;
	margin-top:8px ;
}
#da-bao a{
	position: absolute;
	z-index: 1;
	padding: 20px 20px;
	left:-0px ;
	top: 0px;
}

#da-bao{
	position: absolute;
	top: 480px;
	left: 10px;
	width: 1000px;
	height: 120px;
	
}

#da-bao img:hover{
	/* transition: position 2s,top 2s; */
	position: relative;
	top: -10px;
	box-shadow: 0px 10px  20px #555555;
	
}
/*悬浮*/
#fu{
	position: fixed;
	z-index: 10;
	right: 20px;
	bottom: 50px;

}
#tou{
	background-color: #FFFFFF;
	width: 53px;
	height: 280px;
	opacity: 0.5;
	position: absolute;
}

#fu a{
	display: block;
	text-align: center;
	line-height: 30px;
	padding: 5px 15px;
	font-size:12px ;
	color: #555555;
} 
#fu a:hover{
	outline: 1px solid #8B8E8F;
}
#fan-tuo{
	font-weight:900 ;
}



/*主*/
#center-kuai{
	
	width: 1000px;
	margin-top: 20px;
	background-color: #FFFFFF;
	border-radius:10px ;
}
#btn{
	clear: both;
}
#center-kuai #center-kuai-biao{
	width: 950px;
	text-align: left;
	color: #35404E;
	font-size: 12px;
	padding: 5px 10px;
	border-bottom: 1px solid #555555;
}

#center-kuai a img{
	float: left;
	width: 20px;
	height: 20px;
	border-radius:3px ;
	vertical-align: bottom;
	margin-right:8px ;
	padding: 5 0 5 0;
}

#center-kuai a{
	width:80px;
	float: left;
	padding: 4px 13.5px;
	margin: 5px  0px 5px 15px;
	color: #555555;
	font-size: 12px;
	line-height: 20px;
	border-radius:5px ;
	/*text-align: center;*/
}

#center-kuai a:hover{;
	background-color: #F1F1F1;
	outline: 1px solid lavender; 
	transition:outline 0.8s;
}
#sou-img{
	position: relative;
	height: 600px;
}
#sou-img .img{
	position: absolute;

}
.img{
	opacity: 0;
}
#index-guang{
	width:990px;
	height: 105px;
	border:5px solid #FFFFFF ;
	position: relative;
	border-radius:10px 10px 0 0 ;
}

#index-guang img{
	position: absolute;
	width: 990px;
	height: 105px;
	top: 0px;
	right:0px;
	border-radius:10px ;
	
}

#index-tui li{
	position: relative;
	width: 114px;
	height: 30px;
	display: inline-block;
	background-color: #FFFFFF;
	border: 1px solid #A6A6A6;
	margin: -5px;
}
#index-tui li:hover{
	background-color: #F1F1F1;
	border: 1px solid #777;
}
#index-tui a{
	position: absolute;
	width: 100px;
	left: 4px;
	top: 8px;
	color: #555555;
	font-size:13px ;
}
#index-tui{
	top: 6px;
	margin-bottom:20px ;
	width: 1000px;
}
#index-gong #img-ul-01 li{
	font-size:13px ;
	background-color: #FFFFFF;
	border:1px solid #A6A6A6;
		width: 100px;
		padding: 3px;
		color: #555;
}
#index-gong #img-ul-01 li:hover{
	background-color: #F1F1F1;
	cursor:pointer;
}

#index-gong #img-ul-01{
	position: relative;
	right: 450px;
	width: 100px;
}

#index-gong {
	position: relative;
	width: 1002px;
}
#index-gong div{
	position: absolute;
	background-color: #FFFFFF;
	width:880px;
	right: 0px;
	height: 200px;
	top: -0px ;
	display: none;
}
#index-gong div a{
	float: left;
	padding: 2px 10px;
	margin: 5px 8px;
	font-size:13px ;
	width: 100px;
	height: 25px;
	color: #555555;
	text-align: center;
}
#index-gong a:hover{
	background-color: #F1F1F1;
	outline: 1px solid lavender; 
	transition:outline 0.8s;
}

#index-gong div img{
width: 20px;
height: 18px;
position: relative;
top:3px;
left: -12px;

}

#index-gong #in-01{
	opacity: 1;
	
}

#xy-01{
	background-color: #FFFFFF;
	width: 1000px;
	height: 100px;
	margin:20px  0px;
	border-radius:10px;
}
#xy-01 img{
	
	width: 85px;
	height: 55px;
	border-radius:5px;
	padding-top:3px ;
	
}
#xy-01 ul{
	width: 100px;
}
#xy-01 a{
	float: left;
	position: relative;
	top: 10px;
	margin: 0px 21px;
}
#xy-01 span{
	font-size:12px ;
	color: #555;
}
#xy-01 a:hover{
	background-color:#C1C1C1 ;
	border-radius:5px;
	
}
.xun{
	height: 120px;
}
.xun-01,.xun-04,.xun-08{
	height: 170px;
}
#buttom{
	width: 1000px;
	height: 150px;
	/*border-radius:10px ;*/
	background-color: #272822;
	margin-top:20px ;
	color: #FFFFFF;
	margin-bottom:20px ;
}
#buttom span{
	padding: 10px  380px;
	position: relative;
	top: 10px;
	border-bottom:1px solid #FFFFFF ;
}
#buttom table{
	position: relative;
	font-size:12px ;
	top: 30px;
	
}
#buttom table a{
	color: #FFFFFF;
}
#buttom table a:hover{
	color:#9932CC ;
}
#buttom #s1{
	left: -400px;
}
#buttom #s2{
	top: -65px;
	left: -100px;
}
#buttom #s3{
	top: -125px;
	left: 300px;
}
.waifu{
	position: fixed;
	/*width: 240px;*/

	top:450px;
	left: -20px;
	z-index: 100;
}
canvas{
	width: 240px;
	
	top: -20px;
}
.waifu-tips{
	position: relative;
	top: 20px;
	left: 20px;
	color: #FFFFFF;
	background-color: #949AB1;
	border-radius: 5px;
	opacity:0.2;
	padding: 3px;
	font-size:12px ;
	text-align: center;
}
#QPlayer{
	position: fixed;
	z-index: 100;
}


/*设置*/
#title-img-update{
	position: fixed;
	top: 55px;
	left: 180px;
	z-index: 101;
	height: 0px;
	width: 0px;
	border:20px solid #272822 ;
	border-top:20px solid #555555 ;
	border-right:20px solid #555555 ;
	opacity: 0.4;
	transition:opacity 0.3s;
}
#title-img-update:hover{
	opacity: 1;
}
#title-img-update img{
	top: -16px;
	height: 18px;
	width: 18px;
}

#flte-zhe{
	position: fixed;
	width: 400px;
	height: 300px;
	background-color: #FFFFFF;
	z-index: 112;
	top: 200px;
	left: 450px;
	/*border-radius:10px ;*/
	outline: 5px #272822 solid;
	display: none;
	
}
#flte-zhe #top{
	color: #FFFFFF;
	font-size: 12px;
	background-color: #272822;
	padding: 5px;
	
}
#flte-zhe #update table{
	position: fixed;
	margin-left:40px ;
	font-size:12px ;
	color: #555555;
	border-collapse: separate ; 
	border-spacing:0px 30px;
}
#flte-zhe #update table input[type=text]{
	width: 240px;
	height: 20px;
	margin-left:25px ;
}
#flte #update table input[type=button]{
	padding: 5px 20px;
	color:#272822;
	font-size:12px ;
	
}
#ti{
	color: crimson;
	font-size:0.75rem ;
	left: 1.25rem;
	top: -5px;
}
/*
联想
*/

.lain{
	background-color: #FFFFFF;
	position: relative;
	width: 222px;
	top: -0.725rem;
	right: -3.12rem;
}
.lain ul li{
	font-family: "微软雅黑";
	font-size:13px ;
	color: #7D7F82;
	text-align: left;
	margin-bottom: 0.3125rem;
}
.lain ul li:hover{
	background-color: #E5E9EF;
	color: #777777;
	cursor: pointer;
}
.tong{
	color: #99A2AA;
	font-size:11px;
	background-color:#FFFFFF ;
	z-index: 1;
	padding: 0 5px 0 0.3125rem;
}
.xian{
	border-bottom:1px #99A2AA solid;
	position: relative;
	top: -8px;
	margin: 0 0.3125rem 0 0.3125rem;
}
/*搜索列表*/
#so-li,#so-ul{
	position: absolute;
	width: 500px;
	left: -20px;
}
#so-li li,#so-ul li{
	width: 104px;
	height: 20px;
	float: left;
	top: -30px;
	right: -50px;
	margin-left:5px ;
	padding: 3px 0px 3px 0px  ;
	color: #FFFFFF;
	font-size:12px ;
	font-family: "微软雅黑";
	border-radius:3px ;
}
#so-ul li{
	top: -28px;
	
}
#so-li li{
	background-color: #555555;
	opacity: 0.5;
}
#so ul ul{
	position: absolute;
	display: none;
}
#so li:hover{
	cursor: apointer;
}
#so-ul ol{
	display: none;
}

*{
		/* outline: solid 1px red; */
		
}

